<main class="main">
    <header class="header-section">
        <h1 class="header">Some Layout</h1>
        <p class="header__secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda aut beatae deleniti, eos esse, excepturi facilis, maiores molestiae</p>
        <div class="row">
            <a href="#0" class="btn u-margin-right-small">Button</a>
            <a href="#0" class="btn btn--1">Button</a>
        </div>
    </header>

    <aside class="right-header">
        <div class="phone"></div>
        <div class="col">
            <div class="phone"></div>
            <div class="phone"></div>
        </div>
    </aside>
</main>

